<html>
    <head>
        <meta http-equiv='cache-control' content='no-cache'>
        <meta http-equiv='expires' content='0'>
        <meta http-equiv='pragma' content='no-cache'>
        <title>Sentiment Analyzer</title>
    </head>
    <body>
        <form name="analyzer" action="/analyze" method="POST">
            <h1 style="text-align: center">Analyze Your Comments Here..</h1>
            <div class="container" style="text-align: center">
                <label><strong>Write Something Here...</strong></label>
                <br><br>
                <textarea rows="5" cols="100" name="comment"></textarea>
                <br><br>
                <input type="submit">
            </div>
        </form>
    </body>
</html>